<div class="container">
   <div class="register-home">
    <form  [formGroup]="Registerform" (ngSubmit)="createForm(Registerform)">
      <div class="form-group">
        <label for="exampleInputName1"> Name : <span style="color: red;">*</span></label>
        <div class="w-50">
          <input type="text" class="form-control w-100" id="exampleInputName1" formControlName="name"  aria-describedby="emailHelpId" placeholder="name">
          <small *ngIf="Registerform.controls['name'].touched && Registerform.controls['name'].errors" class="form-text  text-danger">name must be more than 5 charactors</small>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"> Email : <span style="color: red;">*</span></label>
        <div class="w-50">
        <input type="email" class="form-control w-100" formControlName="email" id="exampleInputEmail1"  aria-describedby="emailHelpId" placeholder="email">
          <small *ngIf="Registerform.controls['email'].touched &&
                        Registerform.controls['email'].errors" class="form-text  text-danger">Enter Invaled
            Email
          </small>
        </div>
      </div>
      <div class="form-group ml-1">
        <label for="exampleInputPassword1">Password : <span style="color: red;">*</span></label>
        <div class="w-50 mr-4">
          <input type="password" class="form-control w-100" formControlName="password" id="exampleInputPassword1" placeholder="password">
          <small *ngIf="Registerform.controls['password'].touched &&
                        Registerform.controls['password'].errors" class="form-text  text-danger">
            password must be more than 8 charactors
          </small>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
   </div>
</div>
