.cart-page{
  text-align: center;
}
.prodect-order{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #eee;
  margin: 10px;
  border-radius: 10px;
}
.prodect-order img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.prodect-order button {
  border: 0px;
  font-size: 20px;
}
.prodect-order button:hover{
  color: red;
}

.data-ordered{
  text-align: center;
  background-color: #2d9ae8;
  color: #fff;
  margin: 10px;
  padding: 10px 0px;
  border-radius: 20px;
}
 .data-ordered li{
  margin: 5px 0px;
}
.address-data{
  text-align: center;
  margin: 10px;
  padding: 10px 0px;
  border-radius: 20px;
  background-color: #2d9ae8;
  color: #fff;
}
.btn.confirm-order{
  padding: 5px 15px;
  background-color: rgba(77, 73, 73);
  border: none;
  border-radius: 20px;
  color: #eee;
}
.btn.edit-address{
  padding: 5px 15px;
  background-color: rgba(0,0,0,.2);
  border: none;
  border-radius: 20px;
  color: #eee;
}
.btn.edit-address:hover{
  background-color: rgba(0,0,0,.4);
}
