.header-flash-deals{
  display: flex;
  justify-content: space-between;
}
.header-flash-deals hr{
  color: rgb(122, 124, 124);
  width: 30%;
}
.button-flash-deals{
  margin-left: 40px !important;
}
.button-flash-deals .prev-icon{
  margin-right: 50px !important;
}
.button-flash-deals .next-icon{
  margin-left: 30px !important;
}

.button-flash-deals .carousel-control-next-icon ,
 .button-flash-deals .carousel-control-prev-icon{
  background-color:rgb(122, 124, 124) ;
}
/* sdl c */
.product{
  width: 100px;
  margin: 20px 0px;
  padding: 10px;
  width: 90%;
  border: 2px solid #ffcd35;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 30px;
  margin-right: 10%;
}
.product:hover{
  box-shadow: 1px 1px 1px 1px #888888;
}
.buttons{
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-20%,-50%) ;

  margin-left: 59px !important;
  transition: all .7s ease-in-out;
  width: 100%;
}
.product:hover .buttons{
  bottom: 0%;
}
.product .product-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  overflow: hidden;
}
.product .product-image img{
  margin: 0px 20px;

}

.image-secondary {
  position: absolute;
  top: 0;
  left: 50%;
  filter: alpha(opacity=0);
  opacity: 0;
  transform: translateX(-150%);
  transition: all 0.7s linear;
}
.product:hover .image-cover {
  position: absolute;
  top: 0;
  right: 50%;
  filter: alpha(opacity=0);
  opacity: 0;
  transform: translateX(-150%);
  transition: all 0.7s linear;
}
.product:hover .image-secondary {
  position: relative;
  top: 0;
  left: 0;
  filter: alpha(opacity=1);
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.7s linear
}
.buttons a {
  padding: 10px;
  border-radius: 50%;
  background-color: #eee;
  color: rgb(128, 124, 124);
  margin-left: 5px;
}
.buttons a:hover {
  background-color: rgb(144, 144, 241);
  color: #eee;
}
