<div *ngIf="address.length === 0">
  <div class="address-form">
    <form  [formGroup]="addressform" (ngSubmit)="createaddress(addressform)">
      <div class="form-group">
        <label for="exampleInputName1"> country : <span style="color: red;">*</span></label>
        <div class="w-50">
          <input type="text" class="form-control w-100" id="exampleInputName1" formControlName="country"   placeholder="country">
          <small *ngIf="addressform.controls['country'].touched && addressform.controls['country'].errors" class="form-text  text-danger">
            fill is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"> street name : <span style="color: red;">*</span></label>
        <div class="w-50 mr-3">
        <input type="text" class="form-control w-100" formControlName="street_name"    placeholder="street name">
          <small *ngIf="addressform.controls['street_name'].touched &&
                        addressform.controls['street_name'].errors" class="form-text  text-danger">Enter Invaled
           fill is required
          </small>
        </div>
      </div>
      <div class="form-group ml-4">
        <label for="exampleInputPassword1">City : <span style="color: red;">*</span></label>
        <div class="w-50 mr-3">
          <input type="text" class="form-control w-100" formControlName="city" id="exampleInputPassword1" placeholder="city">
          <small *ngIf="addressform.controls['city'].touched &&
                        addressform.controls['city'].errors" class="form-text  text-danger">
            fill is required
          </small>
        </div>
      </div>
      <div class="form-group ml-4">
        <label for="exampleInputPassword1">Phone : <span style="color: red;">*</span></label>
        <div class="w-50 mr-4">
          <input type="tel" class="form-control w-100" formControlName="phone" id="exampleInputPassword1" placeholder="phone">
          <small *ngIf="addressform.controls['phone'].touched &&
                        addressform.controls['phone'].errors" class="form-text  text-danger">
            fill is required
          </small>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="address.length !== 0">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <div class="address" *ngFor="let product of address" >
         <div>
          <h6> country: {{product.country}}</h6>
         </div>
         <p> street name: {{product.street_name}}</p>
         <p> Phone : {{product.phone}}</p>
         <button [routerLink]="['/editaddress/'+product.id]"><i class="fas fa-edit"></i></button>
      </div>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
      <button routerLink="/confirmOrder" class="btn btn-primary">Continue</button>
    </div>
  </div>
  </div>
</div>
